.Item {
    padding: 0.88rem 0.3rem;
    background-color: #336967;
    margin: 0.3rem 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.Item.completed {
    background-color: grey;
    text-decoration: line-through;
    opacity: 0.5;
}

.iconstyle {
    padding-right: 0.7rem;
    cursor: pointer;
}

.iconstyle.check:hover {
    fill: green;
}

.iconstyle.trash:hover {
    fill: red;
    opacity: 0.5;
}

.iconstyle.edit:hover {
    fill: blue;
    opacity: 0.5;
}

.textInput {
    width: 98%;
    padding: 0.88rem 0.3rem;
    border: 1px solid blue;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.3rem 0;

}

/* 
input[type='checkbox']{
    appearance: none; 
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.15rem solid white;
    border-radius: 0.15rem;
    margin-right: 10px;
    background-color: white;
}
*/
