.App {
  background-color: white;
  margin: 50px auto;
  min-height: 400px;
  max-width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.App h1 {
  margin: 0;
  padding: 1rem;
  color: #336967;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 20px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    margin: 20px 5px;
  }

  .App h1 {
    text-align:center;
  }
}